@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.swiper {
  width: 100vw;
  height: auto;
  padding: 50px;
  min-height:20rem;
}

.swiper-slide {
  background-position: center center;
  background-size: cover;
  width: auto;
  height: auto;
  min-height:20rem;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1);
  min-height:20rem;
object-fit: cover;
}
.name {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;

  background-image: url("https://64.media.tumblr.com/2d76a1d4c54b741ad019ff3ebbde9d5d/tumblr_oylc3uURUq1qeyvpto1_500.gifv");
  background-attachment: fixed;
  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;
}
.name h1 {
  font-size: 10rem;
  font-weight:900;
  font-family:sans-serif;
}

.fa, .fab{
  font-size: 2rem;
  transition:.3s;
}
.fa:hover, .fab:hover{
  transform: translateY(-5px);
}
.w-full{
  width:100%;
}
.font-1{
  font-family: 'Cinzel', serif;
}
.font-2{
  font-family: 'Righteous', cursive;
}
.album-card{
  height:300px;
}
.album-card{
  position: relative;
  margin:1rem 2rem 1rem 2rem;

}
.album-card .card-text{
  height:280px;
  overflow: auto;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  background:rgba(0, 0, 0, 0.5);
 opacity: 0;
 padding:1rem !important;
 transition:.4s;
}
.album-card .card-text:hover{
  opacity: 1;
}
.album-card a{
  position: absolute;
  top:250px;
  left: 0;
 width:100%;
  background:rgba(0, 0, 0, 1);
  font-family: 'Righteous', cursive;

}
textarea{
  resize: none !important;
}
.nav-link:hover{
background:green;
}
#contact-form{
  border-top:1px solid rgba(255,255,255,.1)
}
#about{
  overflow:auto;
}
#about article img{
 object-fit: cover;
 width:400px;
 height:400px;
}
#about article .about-eminem{
  height:300px;
  overflow:hidden;
  transition:.4s;
}
#about article .about-eminem.about-active{
  height:auto !important;
  overflow:hidden !important;
}

@media screen and (max-width:600px){
  .name h1 {
    font-size: 5rem;
    font-weight:900;
    font-family:sans-serif;
  }
  #albums{
    padding:0 !important;

  }
  .album-card{
    position: relative;
    margin:1rem 0 1rem 0;
  }
  #about article{
    display:block !important;

  }
  #about article .about-eminem{
    height:300px;
    overflow:hidden;
    transition:.4s;
  }
  #about article img{
    width:200px !important;
    height:200px !important;
   }
   
}
@media screen and (max-width:400px){
  .name h1{
    font-size:4rem;
  }
}